
.boxes{ display: flex;
justify-content: space-around;
} 

body {
background: rgba(15, 128, 0, 0.519);

}














.search{
    width: 400px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: black;
    padding: 0 0 0 20px;
}

input::placeholder{
    color: grey;
}


button{
    background: linear-gradient(red,yellow,green,pink,black);
}